
<footer>
        <h5>    <p>{{materia}}</p></h5>
        <p>Este curso profundiza en los principios y prácticas avanzadas de la Ingeniería del Software, con énfasis en el desarrollo de sistemas complejos y la gestión de proyectos de software.</p>
     
        <h5><p>DESARROLLADO POR: {{nombre}} {{apellido}} </p> </h5>
         <div class="enlaces">
                 <a href="{{sitio}}">Repositorio GitLab</a>
                 
                
         </div>
 </footer>
 