<nav>
    <ul>
        <li><a href="{{base_url}}/">Inicio</a></li>
        {{#each integrantes}}
        <li><a href="{{base_url}}/integrantes/{{matricula}}"> {{nombre}} {{apellido}} ({{matricula}})</a></li>
        {{/each}}
        <li><a href="{{base_url}}/paginas/curso.html">Información del curso</a></li>
        <li><a href="{{base_url}}/paginas/word_cloud.html">Word Cloud</a></li>
    </ul>
</nav>