<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404- Pagina No Encontrada</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/error.css">
   
</head>
<body>

    <div class="error-container">
        <h1>Error 404 - Página No Encontrada </h1>
        <p>Lo sentimos, la página que estás buscando no se pudo encontrar.</p>
        
        <p>Vuelve a la página de Inicio.</p>
        <a href="/" class="button">Página Inicio</a>
    </div>
    
</body>
</html>