<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nube de palabras</title>
   <link rel="stylesheet" href="word_cloud.css">
  
</head>
<body>
    <ul class="cloud" role="listbox" aria-label="Webdev word cloud">
        <li><a href="#" data-weight="4">Diversidad</a></li>
        <li><a href="#" data-weight="1">Equipo</a></li>
        <li><a href="#" data-weight="5">Innovación</a></li>
        <li><a href="#" data-weight="8">Creatividad</a></li>
        <li><a href="#" data-weight="6">Calidad</a></li>
        <li><a href="#" data-weight="4">Soluciones</a></li>
        <li><a href="#" data-weight="5">Desarrollo</a></li>
        <li><a href="#" data-weight="6">Integración</a></li>
        <li><a href="#" data-weight="2">Eficiencia</a></li>
        <li><a href="#" data-weight="9">Adaptabilidad</a></li>
        <li><a href="#" data-weight="3">Dinámico</a></li>
        <li><a href="#" data-weight="7">Visión</a></li>
        <li><a href="#" data-weight="8">Resolutivo</a></li>
    </ul>

    
</body>
{{>nav}}
{{>footer}}
    <!--<nav>
        <a href="../../index.html">Volver a inicio</a>
    </nav>-->

</html>